/* Header styles */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #dad9d9, #bfbebe);
  padding: 15px 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 1000;
  height: 5vh; /* Set header height to 5% of the viewport height */
  overflow: hidden; /* Prevent overflow */
}

/* Logo container to hold both the image and the text */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between logo image and text */
}

/* Logo image styling */
.logo-image {
  height: 100%; /* Make logo image height responsive */
  width: auto;
}

/* Logo text styling */
.logo-text {
  font-size: 3vw; /* Adjust size for scaling based on viewport width */
  min-width: 0; /* Prevent clipping */
  white-space: nowrap; /* Prevent text wrapping */
  font-family: "Space Grotesk", sans-serif; /* Ensure font family is consistent */
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Navigation styles */
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  position: relative;
  transition: color 0.3s ease-in-out;
  white-space: nowrap; /* Prevent navigation text from wrapping */
}

nav a:hover {
  color: #000;
}
