/* Global styles */
:root {
  --primary-color: #333;
  --secondary-color: #d9dada;
  --light-gray: #dad9d9;
  --font-family-r: "Raleway", Arial, Helvetica, sans-serif;
  --font-family-s: "Space Grotesk", sans-serif;
}

body {
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font-family-r);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling for anchor links */
}

/* Backdrop styling */
.circuitry-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Set width to 100% of the viewport width */
  height: 100vh; /* Set height to 100% of the viewport height */
  background-image: url("./components/_Pictures/Backdrop.jpg");
  background-size: cover; /* Cover the entire area */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center the image */
  opacity: 0.15; /* Set transparency level (adjust as needed) */
  pointer-events: none; /* Allow clicks to go through the backdrop */
  z-index: -1; /* Position behind other content */
}

/* Main content area styles using Grid */
.main-content {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  margin: 0 auto; /* Center the services section */
  max-width: 80%; /* Set max width to 90% of the container */
}
